@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-chat: #313338;
  --bg: #2b2d31;
  --bg-darker: #222429;
  --bg-active: #404348;
  --dark: #1f1e22;
  
  --text-gray: #959ba5;
  --text-gray-active: #dadee0;
  --text: #f2f2f4;

  --mention: #444136;
  --mention-border: #f1b133;

  --blue: #5964f2;

  --green: #23a55a;
  --yellow: #f1b332;
  --red: #f23e42;
  --gray: #80848e;
}

body {
  padding: 0;
  background-image: url(/bg-discord.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

